
/* ---------------------------------- header --------------------------------- */

.fontstd {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.colorstd {
    color: map-get($map: $colors, $key: font-colorcl);
}

.grey-dark{
    background-color: map-get($map: $colors,$key:dark-grey);
}

.grey-light{
    background-color: map-get($map: $colors,$key:light-grey);
}
