$colors: (
    dark-grey : #323331,
    light-grey: #767272,
    color-client: #D9D9D9,
    font-colorcl: #FDF1F1,
);

$fontsize: (
    xxxl : 4.5rem,
    xxl : 2.5rem,
    xl : 2.25rem,
    l : 1.5rem,
    m : 1rem,
    s : .5rem,
)
