@media (max-width: 1024px) {
    .container-video {
        .video-wrapper1 div {
            width: 250px;
            height: auto;
        }
        .video-wrapper2 div {
            width: 250px;
            height: auto;
        }
        .video-wrapper3 div {
            width: 250px;
            height: auto;
            }
    }
    // ----------productos-----------
    .container {
        @include grid (repeat(12,1fr),repeat(26,6rem),100vw,160rem);
        margin: 0;
        .container__piloto {
            grid-column: 1/13;
            grid-row: 2/6;
            display: flex;
            justify-content: space-around;
            padding-top: 20px;
            .piloto-img {
                padding-right: 60px;
                width: 600px;
                height: auto;
                img {
                    border-radius: 50%;
                    &:hover{
                        transform: scale(1.1);
                        transition: transform 200ms linear;
                    }
                }
            }
            .piloto-desc {
                width: 90%;
                h2 {
                    font-family:'jura',sans-serif;
                    font-size: map-get($map: $fontsize, $key: xl);
                }
                p {
                    font-family: 'jura',sans-serif;
                    font-size: map-get($map: $fontsize, $key: l);
                    a {
                        color: map-get($map: $colors, $key: dark-grey);
                    }
                }
            }
        }
        .container__terran {
            grid-column: 1/13;
            grid-row: 6/10;
            display: flex;
            justify-content: space-around;
            .terran-img {
                padding-right: 30px;
                width: 600px;
                height: auto;
                img {
                    border-radius: 50%;
                    &:hover{
                        transform: scale(1.1);
                        transition: transform 200ms linear;
                    }
                }
            }
            .terran-desc {
                width: 90%;
                h2 {
                    font-family:'jura',sans-serif;
                    font-size: map-get($map: $fontsize, $key: xl);
                }
                p {
                    font-family: 'jura',sans-serif;
                    font-size: map-get($map: $fontsize, $key: l);
                    a {
                        color: map-get($map: $colors, $key: dark-grey);
                    }
                }
            }
        }
        .container__displays {
            grid-column: 1/13;
            grid-row: 10/14;
            display: flex;
            justify-content: space-around;
            .displays-img {
                padding-right: 70px;
                width: 600px;
                height: auto;
                img {
                    border-radius: 50%;
                    &:hover{
                        transform: scale(1.1);
                        transition: transform 200ms linear;
                    }
                }
            }
            .displays-desc {
                width: 90%;
                h2 {
                    font-family:'jura',sans-serif;
                    font-size: map-get($map: $fontsize, $key: xl);
                }
                p {
                    font-family: 'jura',sans-serif;
                    font-size: map-get($map: $fontsize, $key: l);
                    a {
                        color: map-get($map: $colors, $key: dark-grey);
                    }
                }
            }
        }
        .container__rowclean {
            grid-column: 1/13;
            grid-row: 14/18;
            display: flex;
            justify-content: space-around;
            padding-top: 20px;
            .rowclean-img {
                width: 500px;
                height: auto;
                margin-left: 30px;
                img {
                    border-radius: 50%;
                    &:hover{
                        transform: scale(1.1);
                        transition: transform 200ms linear;
                    }
                }
            }
            .rowclean-desc {
                width: 90%;
                padding-left: 60px;
                h2 {
                    font-family:'jura',sans-serif;
                    font-size: map-get($map: $fontsize, $key: xl);
                }
                p {
                    font-family: 'jura',sans-serif;
                    font-size: map-get($map: $fontsize, $key: l);
                    a {
                        color: map-get($map: $colors, $key: dark-grey);
                    }
                }
            }
        }
        .container__rowcond {
            grid-column: 1/13;
            grid-row: 19/23;
            display: flex;
            justify-content: space-around;
            .rowcond-img {
                width: 400px;
                height: auto;
                margin-left: 30px;
                img {
                    width: 90%;
                    border-radius: 50%;
                    &:hover{
                        transform: scale(1.1);
                        transition: transform 200ms linear;
                    }
                }
            }
            .rowcond-desc {
                width: 70%;
                padding-left: 40px;
                h2 {
                    font-family:'jura',sans-serif;
                    font-size: map-get($map: $fontsize, $key: xl);
                }
                p {
                    font-family: 'jura',sans-serif;
                    font-size: map-get($map: $fontsize, $key: l);
                    a {
                        color: map-get($map: $colors, $key: dark-grey);
                    }
                }
            }
        }
        .container__can {
            grid-column: 1/13;
            grid-row: 23/27;
            display: flex;
            justify-content: space-around;
            .can-img {
                width: 550px;
                height: auto;
                margin-left: 30px;
                img {
                    border-radius: 50%;
                    &:hover{
                        transform: scale(1.1);
                        transition: transform 200ms linear;
                    }
                }
            }
            .can-desc {
                width: 95%;
                padding-left: 60px;
                h2 {
                    font-family:'jura',sans-serif;
                    font-size: map-get($map: $fontsize, $key: xl);
                }
                p {
                    font-family: 'jura',sans-serif;
                    font-size: map-get($map: $fontsize, $key: l);
                    a {
                        color: map-get($map: $colors, $key: dark-grey);
                    }
                }
            }
        }
    }
    .index {
        height: 93rem;
        .index__fondo {
            grid-column: 1/14;
            grid-row: 1/9;
            z-index: 2;
            img {
                width: 100vw;
                height: 30rem;
                object-fit: cover;
                object-position: center;
            }
        }
        .index__prodsh2 {
            grid-column: 1/13;
            grid-row: 5/6;
            justify-self: center;
            align-self: center;
            h2 {
                font-size: map-get($map:$fontsize,$key:xxl);
                font-family: 'jura', sans-serif;
                font-weight: bolder;
                text-align: left;
            }
        }
        .index__prods{
            width: 100vw;
            height: 300px;
            grid-row: 6/11;
                .index__monit a{
                    width: 300px;
                }
                .index__pilot a{
                    width: 300px;
                }
                .index__terra a{
                    width: 300px;
                }
            }
            .index__clienh2{
                grid-column: 6/8;
                grid-row: 9/10;
                z-index: 99;
                justify-self: center;
                align-self: center;
                h2 {
                    font-size: map-get($map:$fontsize, $key:xxl);
                    font-weight: bolder;
                    font-family: 'jura',sans-serif;
                }
            }
            .index__clien {
                background-color: #D9D9D9;
                opacity: 0.15;
                width: 100vw;
                height: 28rem;
                grid-column: 1/13;
                grid-row: 9/18;
                img {
                    width: 100vw;
                    height: 28rem;
                }
            }
            .index__pauny {
                grid-column: 2/4;
                grid-row: 10/12;
                a img {
                    width: 60%;
                    object-position: center;
                    object-fit: cover;
                    &:hover {
                        transform: scale(1.2);
                        transition: transform 200ms linear ;
                    }
                }
            }
            .index__metalfor {
                grid-column: 4/7;
                grid-row: 10/12;
                a img {
                    width: 50%;
                    object-position: center;
                    object-fit: cover;
                    &:hover {
                        transform: scale(1.2);
                        transition: transform 200ms linear ;
                    }
                }
            }
            .index__agco {
                grid-column: 7/9;
                grid-row: 10/12;
                a img {
                    width: 60%;
                    object-position: center;
                    object-fit: cover;
                    &:hover {
                        transform: scale(1.2);
                        transition: transform 200ms linear ;
                    }
                }
            }
            .index__vassalli {
                grid-column: 10/12;
                grid-row: 10/12;
                a img {
                    width: 60%;
                    object-position: center;
                    object-fit: cover;
                    &:hover {
                        transform: scale(1.2);
                        transition: transform 200ms linear ;
                    }
                }
            }
            .index__pla {
                grid-column: 2/4;
                grid-row: 11/13;
                a img {
                    width: 60%;
                    object-position: center;
                    object-fit: cover;
                    &:hover {
                        transform: scale(1.2);
                        transition: transform 200ms linear ;
                    }
                }
            }
            .index__agrometal {
                grid-column: 4/7;
                grid-row: 11/13;
                a img {
                    width: 50%;
                    object-position: center;
                    object-fit: cover;
                    &:hover {
                        transform: scale(1.2);
                        transition: transform 200ms linear ;
                    }
                }
            }
            .index__afa {
                grid-column: 7/9;
                grid-row: 11/13;
                a img {
                    width: 50%;
                    object-position: center;
                    object-fit: cover;
                    &:hover {
                        transform: scale(1.2);
                        transition: transform 200ms linear ;
                    }
                }
            }
            .index__praba {
                grid-column: 10/12;
                grid-row: 11/13;
                a img {
                    width: 60%;
                    object-position: center;
                    object-fit: cover;
                }
            }
    }
}
